@use "styles/theme" as *;

.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  > :not(nav, footer) {
    flex-grow: 1;
    padding-top: calc(48px + 4rem);
    overflow-y: hidden;
  }
}

.layout_loading {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: center;

  span {
    margin-inline: auto;
    width: min(100%, map-get($spacing, "main"));
    height: 100vh;
    flex-grow: 1;
    padding-top: calc(48px + 4rem);
    overflow-y: hidden;

    .react_loading_skeleton {
      width: 100%;
    }
  }
}
