.rate_buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  > svg {
    cursor: pointer;
    fill: var(--text-color);
    &.up {
      fill: hsl(133, 57%, 45%);
    }
    &.down {
      fill: hsl(0, 57%, 45%);
    }
  }
  > p {
    margin-left: 0.4rem;
    margin-right: 0.8rem;
  }
}
