@use 'styles/theme';

.index {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text-color);
  background-color: var(--primary-bg);
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}
