@use 'styles/theme';

.login {
  font-family: Poppins;
  display: flex;
  flex-flow: column nowrap;
  color: var(--text-color);
  background-color: var(--primary-bg);
  background-image: url('/layered-waves-haikei.svg'), var(--bg-shapes);
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .login__inputArea {
    margin-bottom: 12rem;
    display: flex;
    flex-flow: column nowrap;

    .login__inputGroup {
      margin: 1rem 0 1rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      width: 60%;

      label {
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
      }

      div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .login__showPasswordIcon {
          margin-left: -1.6rem;
          cursor: pointer;
        }
      }

      input {
        background: var(--input-bg);
        border: none;
        outline: none;
        font-size: 1.2rem;
        padding: 0.4rem;
        border-bottom: 2px solid var(--text-accent);
        color: var(--text-color);

        &:focus-within {
          border-bottom: 2px solid var(--accent-1);
        }

        &:invalid:not(:placeholder-shown) {
          border-bottom: 2px solid red;
        }
        &:valid:not(:placeholder-shown) {
          border-bottom: 2px solid green;
        }
      }
    }
    .login__loginButton {
      cursor: pointer;
      width: min-content;
      padding: 0.8rem 2rem 0.8rem;
      font-size: 1.4rem;
      margin: 0 auto 0;
      background: var(--accent-2);
      border-radius: 0.4rem;
      color: white;
      border: none;
    }
  }
}
