@use "styles/theme" as *;

.post_page {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text-color);
  background-color: var(--primary-bg);
  justify-content: flex-start;
  align-items: center;

  > .post_info {
    background-color: var(--nav-bg);
    width: min(100%, map-get($spacing, "main"));
    flex-grow: 1;
    margin-inline: 1.2rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1rem;

    @media screen and (max-width: map-get($breakpoints, "md")) {
      margin-inline: 0;
    }

    .header {
      > * {
        margin: 0;
        &:is(h6) {
          opacity: 0.5;
          margin-top: 0.5rem;
        }
      }
    }
    .content {
      background-color: var(--accent-4);
      margin: 0.6rem auto;
      padding: 0.4rem 0.8rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block: 8px;
      }

      .post_data_loading {
        margin-block: 0.6rem;
        height: 1.8rem;
        width: 75%;
      }
    }
  }
  .comments_section {
    padding: 1.2rem;

    display: flex;
    flex-flow: column nowrap;
  }
}
