@use "styles/theme" as *;

.profile_page {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text-color);
  background-color: var(--primary-bg);
  justify-content: flex-start;
  align-items: center;

  > .user_info {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--nav-bg);
    width: min(100%, map-get($spacing, "main"));
    flex-grow: 1;
    margin-inline: 1.2rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 1.2rem;
    position: relative;

    > span {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1.8rem;
      margin-left: auto;
      cursor: pointer;
    }
    
    form {
      display: none;
    }

    @media screen and (max-width: map-get($breakpoints, "xl")) {
      margin-inline: 0;
    }


    li {
      &.disabled {
        cursor: default !important;
        background-color: inherit !important;
      }

      .friend_buttons {
        align-self: flex-start;
        padding: 0;
        margin: 0;
        border-radius: 0.2rem;
        padding-right: 12px;

        &:is(button) {
          background: none;
          border: 0;
          cursor: pointer;
        }
      }
    }
    > section {
      display: flex;

      .profile_image {
        border-radius: 0.4rem;
        object-fit: cover;
      }

      > div {
        margin-left: 1.2rem;
        display: flex;
        flex-flow: column nowrap;

        .friend_buttons {
          background-color: var(--accent-2);
          border: 0;
          padding: 0.6rem;
          border-radius: 0.2rem;
          align-self: center;
          margin-right: auto;
          user-select: none;

          &:is(button) {
            cursor: pointer;
          }
          &:is(p) {
            margin-block: 0;
          }
        }
      }


      .display_name {
        font-size: 1.4rem;
        margin: 0;
      }
      .tagline {
        opacity: 0.75;
      }
    }
    .button_row {
      width: 100%;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none;
      margin-top: 2rem;
      padding: 0.8rem 0;
      line-height: 1.8rem;
      font-size: larger;
      box-sizing: content-box;

      > li {
        text-align: center;
        border-bottom: 2px solid var(--accent-5);
        user-select: none;
        cursor: pointer;

        &.active {
          border-color: var(--text-color)

        }
      }
    }
  }
}
