@use 'styles/theme';

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    --primary-bg: #{theme.$bg--dark};
  }
}
%dark-mode {
  @include dark-mode;
}

.dark-mode {
  @extend %dark-mode;
}
:root {
  --primary-bg: #{theme.$bg--light};
  @include dark-mode;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
