$breakpoints: (
  "sm": 480px,
  "md": 960px,
  "lg": 1024px,
  "xl": 1280px,
);

$spacing: (
  "main": 1024px,
);

@mixin small {
  @media screen and (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin medium {
  @media screen and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin large {
  @media screen and (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin huge {
  @media screen and (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
$accent-1: hsl(295, 93%, 71%);
$accent-2: hsl(260, 88%, 55%);
$accent-3: hsl(190, 100%, 50%);
$accent-bg: linear-gradient(
  142deg,
  #{$accent-1} 0%,
  #{$accent-2} 50%,
  #{$accent-3} 100%
);
$error-text: hsl(0, 100%, 72%);

// light
$accent-4--light: rgb(230, 230, 230);
$accent-5--light: rgb(200, 200, 200);
$bg--light: hsl(0, 0%, 97%);
$text--light: hsl(0, 0%, 3%);
$text-accent--light: hsl(0, 0%, 12%);
$input-bg--light: hsl(0, 0%, 95%);
$input-bg-2--light: hsl(0, 0%, 90%);
$bg-shapes--light: "/bg-shapes-light.svg";
$nav-bg--light: hsl(0, 0%, 94%);
$bg-border--light: hsl(0, 0%, 82%);
$color-scheme--light: light;

// dark
$accent-4--dark: rgb(39, 39, 39);
$accent-5--dark: rgb(61, 61, 61);
$bg--dark: hsl(0, 0%, 13%);
$text--dark: hsl(0, 0%, 100%);
$text-accent--dark: hsl(0, 0%, 97%);
$input-bg--dark: hsl(0, 0%, 18%);
$input-bg-2--dark: hsl(0, 0%, 16%);
$bg-shapes--dark: "/bg-shapes-dark.svg";
$nav-bg--dark: hsl(0, 0%, 20%);
$bg-border--dark: hsl(0, 0%, 32%);
$color-scheme--dark: dark;
