@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Galada&family=Gafata&display=swap");

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin small {
  @media screen and (max-width: $sm) {
    @content;
  }
}
@mixin medium {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin large {
  @media screen and (max-width: $lg) {
    @content;
  }
}
@mixin huge {
  @media screen and (max-width: $xl) {
    @content;
  }
}
$accent-1: hsl(295, 93%, 71%);
$accent-2: hsl(260, 88%, 55%);
$accent-3: hsl(190, 100%, 50%);
$accent-bg: linear-gradient(
  142deg,
  #{$accent-1} 0%,
  #{$accent-2} 50%,
  #{$accent-3} 100%
);
$error-text: hsl(0, 100%, 72%);

// light
$bg--light: hsl(0, 0%, 97%);
$text--light: hsl(0, 0%, 3%);
$text-accent--light: hsl(0, 0%, 12%);
$input-bg--light: hsl(0, 0%, 95%);
$bg-shapes--light: "/bg-shapes-light.svg";
$nav-bg--light: hsl(0, 0%, 94%);
$bg-border--light: hsl(0, 0%, 82%);
$color-scheme--light: light;

// dark
$bg--dark: hsl(0, 0%, 13%);
$text--dark: hsl(0, 0%, 100%);
$text-accent--dark: hsl(0, 0%, 97%);
$input-bg--dark: hsl(0, 0%, 18%);
$bg-shapes--dark: "/bg-shapes-dark.svg";
$nav-bg--dark: hsl(0, 0%, 20%);
$bg-border--dark: hsl(0, 0%, 32%);
$color-scheme--dark: dark;
