.accent_button {
  background-color: var(--accent-2);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  user-select: none;
  align-self: flex-end;
  cursor: pointer;
  color: white;

  &:hover {
    filter: brightness(90%);
  }
}
